<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<style>

.panel {
	background-color: #E7E7E7;
	padding: 5px;
	border-radius: 8px;
}

</style>

<article class="panel panel-default">
	<div class="panel-footer">
        Diary Title:{{ message.title }}
    </div>
    <div class="panel-body" style="word-break: break-all">
        {{ message.text }}
    </div>
    <footer class="panel-footer">
        <div class="author">
            <span>Author :{{ message.author }}</span>
            <span style="padding-left: 30px">Date :{{ message.publish_date }}</span>
        </div>
        <div class="config" *ngIf="belongsToUser()">
            <a (click)="onEdit()">Edit</a>
            <a (click)="onDelete()">Delete</a>
        </div>
    </footer>
</article>