<div class="col-md-8 col-md-offset-2">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group">
            <label for="title">Title</label>
            <input
                    type="text"
                    id="title"
                    class="form-control"
                    [ngModel]="message?.title"
                    name="title"
                    required>
        </div>
        <div class="form-group">
            <label for="text">Content</label>
            <input
                    type="text"
                    id="text"
                    class="form-control"
                    [ngModel]="message?.text"
                    name="text"
                    required>
        </div>
        <div class="form-group">
            <label>Public:
                <input type="checkbox"
                       id="public"
                       class="form-control"
                       [ngModel]="message?.public"
                       name="public"
                       required>
            </label>
        </div>
        <button type="button"  class="btn btn-danger" (click)="onClear(f)">Clear</button>
        <button class="btn btn-primary" type="submit">Save</button>
    </form>
</div>